@{
    ViewData["Title"] = "Projeto Pro City";
}

<link href="~/css/home.css" rel="stylesheet" />

<body>
    <video loop muted autoplay class="fundo">
        <source src="~/videos/12686138_3840_2160_30fps.mp4" type="video/mp4"/>
    </video>

   <div class="container1 text-center text-light">
        <h1>Projeto Pro City</h1>    
        <button class="btn btn-primary"> <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a></button> 
    </div>
</body>